{
  "tabWidth": 2,
  "printWidth": 120,
  "overrides": [
    {
      "files": [
        "*.html",
        "*.css"
      ],
      "options": {
        "tabWidth": 4,
        "parser": "angular"
      }
    }
  ]
}
